Package: com.zzanehip.jailbreak
Name: Deca5 Jailbreak
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: @zzanehip
Author: @zzanehip
Section: Utilities
